.line-width-picker {
  background-color: white;
  border: 5px solid black;
  color: purple;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  div {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}