.landing-page {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    p {
        text-shadow: 0rem 0rem 1rem black;
    }
}

.name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
